.navbarContainer {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  z-index: 10;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 56px;
  max-width: min(100dvw, 1024px);
  width: 100%;
  padding: 2px 0px;
  background-color: rgba(255, 255, 255, 0.5);
}

.logo {
  height: 40px;
}

.navbarLogo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbarLogoText {
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.navbarLinks {
  display: flex;
  gap: 20px;
  font-weight: 550;
  font-size: 0.95em;
}

.navbarBaseLink {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  padding: 0 16px;
  border-radius: 6px;
  transition: background-color 0.2s;
  text-align: center;
}

.navbarBaseLink:hover {
  background-color: var(--primary-accent-color);
}

.navbarOnboardLinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  height: 36px;
}

.navbarLoginLink {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  box-sizing: border-box;
  padding: 3px 14px;
  border-width: 1px;
  border-style: solid;
  border-radius: 8px;
  font-size: 0.95em;
  font-weight: 500;
  border-color: rgb(217, 219, 223);
  transition: background-color 0.3s;
}

.navbarLoginLink:hover {
  background-color: var(--primary-accent-color);
}

.navbarSignupLink {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  box-sizing: border-box;
  padding: 3px 14px;
  border-width: 0px;
  border-style: solid;
  border-radius: 8px;
  font-size: 0.95em;
  font-weight: 500;
  background-color: black;
  color: white;
  transition: box-shadow 0.2s;
}

.navbarSignupLink:hover {
  box-shadow: 0px 0px 2px 4px var(--primary-accent-color);
}

.navbarLinks,
.navbarOnboardLinks {
  display: flex;
  gap: 1rem;
}

.navbarMenuIcon {
  display: none;
}

@media (max-width: 1100px) {
  .navbar {
    margin: 0 1em;
  }
}

@media (max-width: 1000px) {
  .navbarContainer.open {
    background-color: rgba(255, 255, 255, 1);
    backdrop-filter: blur(10px);
  }
  .navbar {
    padding-left: 2em;
    padding-right: 2em;
  }
  .navbar.open {
    background-color: rgba(255, 255, 255, 1);
    backdrop-filter: blur(10px);
  }
  .navbarLinks,
  .navbarOnboardLinks {
    display: none;
    gap: 0;
  }

  .navbarMenuIcon {
    display: block;
  }

  .navbarLinks.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 56px;
    left: -20px;
    padding-left: 20px;
    width: 100dvw;
    max-width: 100dvw;
    background-color: rgba(255, 255, 255, 1);
    backdrop-filter: blur(10px);
    padding: 1rem;
    height: 100dvh;
  }

  .navbarBaseLink.open {
    text-align: left;
    justify-content: start;
    font-weight: 700;
    font-size: 1.05em;
    min-height: 40px;
    padding: 10px;
    border-bottom: 1px;
    border-style: solid;
    border-color: rgb(194, 194, 194);
    border-radius: 0px;
  }
}

@media (max-width: 500px) {
  .navbar {
    max-width: 100dvw;
  }
}
